@import "~bootstrap/scss/bootstrap";

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation: fadeInAnimation ease .8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #fafafa;
  background-image: url(/images/About.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-x: right;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.jumbotron {
  display: flex;
  justify-content: center;
  margin-top: 10em;
  margin-right: 10em;
}

.navbar-expand {
  text-align: end;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  height: 26.7em;
  width: 12em;
  padding-top: .5em;
  padding-right: 1em;
  border-right: 5px solid darkorchid;
  opacity: .6;
  line-height: .8;
}

.nav-link {
  text-decoration: none;
  color: grey;
}

.nav-link:hover {
  text-decoration: none;
  color: lightgrey;
}

.contact {
  font-size: 12px;
}

.image-container {
  display: flex;
  justify-content: center;
}

b {
  color: darkorchid
}

#title {
  margin-top: 1em;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

#sub-title {
  font-size: 5em;
  font-family: Arial, Helvetica, sans-serif;
}

#about-me-paragraph {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  margin-top: 1em;
}







@media (max-width: 767.98px) { 

    .jumbotron {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3em;
    padding: 1em;
  }
  
  .navbar-expand {
    text-align: end;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: .5em;
    padding-right: 1em;
    border-right: 5px solid darkorchid;
    opacity: .6;
    line-height: .8;
  }
  
  .nav-link {
    text-decoration: none;
    color: grey;
  }
  
  .nav-link:hover {
    text-decoration: none;
    color: lightgrey;
  }
  
  .contact {
    font-size: 12px;
  }
  
  b {
    color: darkorchid
  }

  .profile-imgage {
    height: 15em;
  }
  
  #title {
    margin-top: 1em;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #sub-title {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #about-me-paragraph {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin-top: 1em;
  }

 }


 /* <div class="nav nav-bar col-lg-2 col-md-6 col-sm-2 ">
        <nav class="navbar-expand flex-column">
          <a class="nav-link" href="./pages/projects.html">Projects</a>
          <a class="nav-link" href="https://poshmark.com/closet/danilionclosets">Business</a>
          <a class="nav-link" href="https://www.linkedin.com/in/dani-crosby/">LinkedIn</a>
          <a class="nav-link" href="https://github.com/danicrosby">Github</a>
          <a class="nav-link" href="https://danicrosby.medium.com/">Medium</a>
          <a class="nav-link" href="./resume.pdf">Resume</a>
          <hr>
          <a class="nav-link" href="">Contact</a>
          <a class="nav-link contact" href="">dani.crosby1111@gmail.com</a>
          <a class="nav-link contact" href="">925.588.4948</a>
        </nav>
      </div> */
