@import "~bootstrap/scss/bootstrap";

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation: fadeInAnimation ease .8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #fafafa;
  background-image: url(/images/About.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-x: right;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.jumbotron {
  display: flex;
  justify-content: center;
  margin-top: 10em;
  margin-right: 10em;
}

.navbar-expand-lg {
  text-align: end;
}

.nav-link {
  text-decoration: none;
  color: grey;
}

.nav-link:hover {
  text-decoration: none;
  color: lightgrey;
}

.contact {
  font-size: 12px;
}

.image-container {
  display: flex;
  justify-content: center;
}

b {
  color: darkorchid
}

hr {
  color: darkorchid;
  font-size: 1em;
}

#title {
  margin-top: 1em;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

#sub-title {
  font-size: 5em;
  font-family: Arial, Helvetica, sans-serif;
}

#about-me-paragraph {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  margin-top: 1em;
}







@media (max-width: 767.98px) { 

  .jumbotron {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 3em;
  padding: 1em;
  }

  .profile-imgage {
    height: 15em;
  }
  
  #title {
    margin-top: 1em;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #sub-title {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #about-me-paragraph {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin-top: 1em;
  }

 }
