@import "~bootstrap/scss/bootstrap";

body {
  animation: fadeInAnimation ease .8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.col {
  margin: 2em;
}
.card {
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 12px 12px 12px #e9e5e5;
  width: 18rem;
  padding: 5px;
}

.card-text {
  font-size: 12px;
  margin-bottom: 2em;
}

.btn {
  font-size: 10px;
  background-color: darkorchid;
  opacity: .6;
  color: white;
}
